@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poopins', sans-serif;

}
body{
    position: relative;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 17px 17px 17px rgba(139, 24, 24, 0.2);
    z-index: 10;
}
.menu{
    display: flex;
}
.logo{
    color: #ae6f27;
    font-weight: 700;
    font-size: 25px;
}
.logo span{
    color: #275c60;
}
.menu li{
    margin: 0 15Px;
    list-style-type: none;
}
.menu li a{
    position: relative;
    color: #999;
    text-decoration: none;
    font-size: 14px;
}
.menu li a::before{
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #ae6f27;
    transition: 0.5s;
}
.menu li a:hover::before{
    width: 100%;
}
.menu li a::after{
    position: absolute;
    bottom: -5px;
    right: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #ae6f27;
    transition: 0.5s;
}
.menu li a:hover::after{
    width: 100%;
}
.menu li a:hover{
    color: #000;
}
section{
    margin-top: 50px;
}
.home{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
    margin-top: 50px;
    height: calc(100vh - 50px);
}
.home .left{
    width: 40%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home .left h4{
    font-size: 40px;
    color: #ae6f27;
    position: relative;
} 
.home .left h1{
    font-size: 40px;
    position: relative;
}
.home .left p{
    font-size: 12px;
    color: #999;
    position: relative;
}
.home .left button{
    margin-top: 20px;
    width: fit-content;
    padding: 5px 10px;
    background-color: #000;
    position: relative;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.home .left button a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
}
.home .left button::before{
    position: absolute;
    content: "";
    left: 5px;
    top: 5px;
    height: 100%;
    width: 100%;
    z-index: -1000;
    background-color: #ae6f27;
}
.home .left button:hover {
    letter-spacing: 1px;
}
.home .right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .right img{
    width: 100%;
    animation: animate 2s linear;
}
@keyframes animate{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.menus{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 50px 10px;
}
.mini_title{
    margin-top: 25px;
    font-size: 16px;
    color: #ae6f27;
    text-transform: capitalize;
}
.title{
    font-size: 20px;
    text-transform: uppercase;
    color: #275c60;
    margin-bottom: 25px;
    text-align: center;

}
.plats{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
}
.plats .plat{
    height: 280px;
    width: 30%;
    background-color: #fff;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    margin-bottom: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.plats .plat img{
    width: 130px;
    border-radius: 1px;
    height: 120px;
    margin-bottom: 15px;
}
.plats .plat p{
    text-align: center;
    font-size: 18px;
}
.plats .plat a{
    margin-top: 10px;
    font-size: 14px;
    text-decoration: 0;
    background-color: #ae6f27;
    color: #fff;
    border-radius: 6px;
    padding: 5px 20px;
}
::-webkit-scrollbar-thumb{
    background-color: #ae6f27;
    border-radius: 8px;
}
::-webkit-scrollbar{
    width: 8px;
}
.about_us{
    display: flex;
    align-items: center;
    height: calc(100vh - 50px);
    flex-direction: column;
    padding: 50px 10px;
    width: 100%;
}
.about{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 70vh;
}
.about .left{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.about .left img{
    width: 90%;
}
.about .right{
    width: 60%;
}
.about .right h3{
    font-size: 35px;
    color: #275c60;
    margin: 10px 0;
}
.about .right p{
    font-size: 14px;
    color: #999;
}
.about .right button{
    margin: 20px 0;
    padding: 5px 60px;
    background-color: #ae6f27;
    border: 0;
}
.about .right button a{
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}
.commentaire{
    display: flex;
    align-items: center;
    justify-items: center;
    height: calc(100vh - 50px);
    flex-direction: column;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.05);
}
.comments{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.comments .comment div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.comments .comment div img{
    width: 45px;
    height: 45px;
    border: 2px solid #ae6f27;
    border-radius: 50%;
}
.comments .comment{
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 20px;
}
.comments .comment div h4{
    margin-left: 15px;
    font-size: 14px;
    color: #275c60;
}
.comments .comment p{
    font-size: 13px;
    color: #999;
}
.reservation{
    margin-top: 50px;
    display: flex;
    align-items: center;
    height: calc(100vh - 50px);
    flex-direction: column;
}
.reservation form{
    display: flex;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 25px;
    border-radius: 6px;
    flex-direction: column;
    width: 360px;
}
.reservation form label{
    margin-bottom: 8px;
    font-size: 14px;
}
.reservation form input{
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    outline: none;
}
.reservation form input:focus{ 
    /* background: ; */
    outline: 1px solid #ae6f27;
}
.reservation form input[type=submit]{
    margin-top: 15px;
    color: #fff;
    background-color: #ae6f27;
    border: 1px solid #fff;
    cursor: pointer;
}
footer{
    background-color: rgba(0, 0, 0, 0.05);
}
footer .services_list{
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.service img{
    width: 40px;
    background-color: #ae6f27;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.service{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 25px auto;
    flex-direction: column;
}
.service p{
    color: #333;
}
hr{
    background-color: #fff;
    border: 0;
    height: 2px;
    width: 100%;
}
.footer_test{
    text-align: center;
    font-size: 15px;
    padding: 8px 0;
    
}
    .toggle_menu{
        display: none;
    }
@media (max-width:964px) {
    header .menu{ 
        display: none;
    }
    header{
        padding: 0 20px;
    }
    .toggle_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 40px;
        width: 40px;
    }
    .toggle_menu::before{
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #ae6f27;
        border-radius: 6px;
        box-shadow: 0 10px 0 #ae6f27;
        transform: translateY(-10px);
    }
    .toggle_menu.active::before{
        box-shadow: 0 0 0 #ae6f27;
        transform: translateY(0) rotate(125deg);
        transition: 0.5s;
    }
    .toggle_menu::after{
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #ae6f27;
        border-radius: 6px;
        transform: translateY(10px);
        transition: 0.5s;
    }
    .toggle_menu.active::after{
        transform: translateY(0) rotate(-135deg);
    }
    header .menu.responsive{
        display: flex;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color:  #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        flex-direction: column;
    }
    header .menu.responsive li{
        margin: 15px 0;
    }
    .home{
        flex-direction: column;
        padding: 12px;
        height: fit-content;
    }
    .home .left, .home .right{
        width: 100%;
        padding: 0;
    }
    .home .left{
        margin: 40px 0;
    }
    .home .left h1{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .home .left h4{
        font-size: 15px;
    }
    .home .left p{
        font-size: 15px;
    }
    .menu .plats .plat{
        width: 100%;
        max-width: 220px;
    }
    .about_us{
        padding: 10px;
        height: auto;
    }
    .about_us .about{
        flex-direction: column;
        height: fit-content;
    }
    .about_us .left .about_us .right{
        width: 100%;
    }
    .about_us .left{
        height: fit-content;
    }
    .about_us .left img{
        width: 50%;
    }
    .about_us .right{
        text-align: center;
        padding: 20px;
    }
    .about_us .right p{
        text-align: left;
    }
    .commentaire{
        height: auto;
    }
    .commentaire .comments .comment{
        width: 100%;
        margin-top: 20px;
    }
    .services_list .service{
        padding: 0 20px;
    }
}